# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ❌ NE JAMAIS inclure ces dossiers dans le nouveau repo
monpetitroadtrip_mobile/
Refonte/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Fichiers temporaires
*.log
*.tmp

# IDE
.vscode/settings.json
